h1 {
	background-color: #a3a6cb;
}

h2 {
	background-color: #a3a6cb;
}

h4 {
	background-color: #d2d3e6;
}

img {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 600px;
}