body {
  background-image: url("archery2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 40px;
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;
}

h1, h2, h3, h4 {
  color: #820000;
}

a {
  color: #6F6F6F;
}


.error {
	color: #ff0000;
	text-align: center;
	font-size: 15pt;
}


div#datetime {
  font-size: 80%;
  text-align: right;
}

form.form-signin {
	max-width:500px;
}

.btn-block
{
	position: relative;
	left:90px;
	width:60%;
}

.myContainer
{
	margin-left:30%;
}
.btn-lg {
    padding: 10px 9px;
    margin:2px;
}
