<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Competitions about Archery{% endblock %}

{%block content%}
<body>

<h1>Archery Competitions </h1>

 <div class="CSSTableGenerator">
	<table>
		<tr>
			<td></td>
			<td>Name_comp</td>
			<td>Type_comp</td>
			<td>Year_comp</td>
			<td>Country_comp</td>
			<td></td>
		</tr>
		<form action="{{ url_for('competition_page') }}" method="post">
        {% for key, competition in competitions %}
			<tr>
				<td><input type="checkbox" name="competitions_to_delete" value="{{competition.ID}}" /></td>
				<td> {{ competition.CompetitionName }} </td>
				<td> {{ competition.CompType }} </td>
				<td> {{ competition.Year }} </td>
				<td> {{ allCountries[(competition.CountryID)-1][2] }} </td>
				<td><input type="radio" name="competitions_to_update" value="{{competition.ID}}" form="form1"/></td>
			</tr>
		{% endfor %}
			<tr>
				<td><input type="submit" class="form-control" value="Delete" name="insert"></td>
		</form>
		<form id="form1" action='{{ url_for("competition_page") }}' method="post">
				<label for="competitionName" class="sr-only">Name_comp</label>
	        	<td><input type="text" id="competitionName" name="CompetitionName" class="myinput" placeholder="CompetitionName"></td>

				<label for="competitionType" class="sr-only">Type</label>
				<td><input type="text" id="competitionType" name="CompType" class="myinput" placeholder="CompType"/></td>

				<td><input type="number" min="1900" max="2100" id="competitionYear" class="myinput" name="Year" placeholder="Year"/></td>

				<td><select class="form-control" Name="CountryID" required>
				<option></option>
				{% for key, name, country_code in allCountries %}
				<option value="{{allCountries[key-1][0]}}">{{allCountries[key-1][2]}}</option>
				{% endfor %}
				</select></td>

				<td><input type="submit" class="form-control" value="Update" name="update"></td>
			</tr>
			</table>
	</div>
	<input type="submit" class="form-control" value="Add" Name="insert">
		<div class="error">
		{{rec_Message}}
		</div>
		</form>

{% endblock %}