<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Compound Teams{% endblock %}


{%block content%}
<body>
    <h1>Compound Teams</h1>
	<h2>Teams</h2>
	<div class="CSSTableGenerator">
	<table>
		<tr>
			<td></td>
			<td>TeamName</td>
			<td>Country</td>
			<td></td>
		</tr>
		<form action="{{ url_for('compoundteam_page') }}" method="post">
        {% for key, compoundteam in compoundteams %}
			<tr>
				<td><input type="checkbox" Name="compoundteams_to_delete" value="{{compoundteam.ID}}" /></td>
				<td> {{ compoundteam.TeamName }} </td>
				<td> {{ allCountries[(compoundteam.CountryID)-1][2] }} </td>
				<td><input type="radio" name="compoundteam_to_update" value="{{compoundteam.ID}}" form="form1"/></td>
			</tr>
		{% endfor %}
			<tr>
				<td><input type="submit" class="form-control" value="Delete" Name="insert"></td>
		</form>
		<form id="form1" action="{{ url_for('compoundteam_page') }}" method="post">
				<label for="inputName" class="sr-only">Name</label>
	        	<td><input type="text" ID="inputUsername" Name="TeamName" class="myinput" placeholder="TeamName" required autofocus></td>
				<td><select class="form-control" Name="country_id" required>
				<option></option>
				{% for key, name, country_code in allCountries %}
				<option value="{{allCountries[key-1][0]}}">{{allCountries[key-1][2]}}</option>
				{% endfor %}
				</select></td>
				<td><input type="submit" class="form-control" value="Update" name="update"></td>
			</tr>
			</table>
	</div>
		<input type="submit" class="form-control" value="Add" Name="insert">
		<div class="error">
		{{rec_Message}}
		</div>
		</form>
{% endblock %}