<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Competitions about Archery{% endblock %}

{%block content%}
<body>

<h1>-->Archery Competitions <--</h1>
<h4>This is the table of competitions about archery.</h4>
<h4>You can add a new competition with related details here.</h4>

 <div class="CSSTableGenerator">
	<table>
		<tr>
			<td></td>
			<td>Name_comp</td>
			<td>Type_comp</td>
			<td>Year_comp</td>
			<td>Country_comp</td>
		</tr>
		<form action="{{ url_for('competition_page') }}" method="post">
        {% for key, competitioner in competitioners %}
			<tr>
				<td><input type="checkbox" name="competitions_to_delete" value="{{competitioner.id}}" /></td>
				<td> {{ competitioner.CompetitionName }} </td>
				<td> {{ competitioner.CompType }} </td>
				<td> {{ competitioner.Year }} </td>
				<td> {{ allCountries[(competitioner.CountryID)-1][2] }} </td>
			</tr>
		{% endfor %}
			<tr>
				<td><input type="submit" class="form-control" value="Delete" name="insert"></td>
		</form>
		<form action='{{ url_for("competition_page") }}' method="post">
				<label for="competitionName" class="sr-only">Name_comp</label>
	        	<td><input type="text" id="competitionName" name="CompetitionName" class="myinput" placeholder="CompetitionName"></td>

				<label for="competitionType" class="sr-only">Type</label>
				<td><input type="text" id="competitionType" name="CompType" class="myinput" placeholder="CompType"/></td>

				<td><input type="number" min="1900" max="2100" id="competitionYear" class="myinput" name="Year" placeholder="Year"/></td>


				<td><input type="text" id="competitionCountry" name="CountryID" class="myinput" placeholder="CountryID"/></td>
			</tr>
			</table>
	</div>
	<input type="submit" class="form-control" value="Add" name="insert">
		<div class="error">
		{{rec_Message}}
		</div>
		</form>

{% endblock %}