<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Video Games about Archery{% endblock %}

{%block content%}
<body>

<h1>--> Video Games about Archery <--</h1>
<h4>This is the table of released video games about archery.</h4>
<h4>You can add a new game with related details here.</h4>
<h4>Adding an unreleased game is not allowed.</h4>
  <div class="CSSTableGenerator">
	<table>
		<tr>
			<td></td>
			<td>Name</td>
			<td>Developer</td>
			<td>Publisher</td>
			<td>Release year</td>
			<td></td>
		</tr>
		<form action="{{ url_for('games_page') }}" method="post">
        {% for key, game in games %}
			<tr>
				<td><input type="checkbox" name="games_to_delete" value="{{game.id}}" /></td>
				<td> {{ game.name }} </td>
				<td> {{ game.developer }} </td>
				<td> {{ game.publisher }} </td>
				<td> {{ game.year }} </td>
				<td><input type="radio" name="game_to_update" value="{{game.id}}" form="form1"/></td>
			</tr>
		{% endfor %}
			<tr>
				<td><input type="submit" class="form-control" value="Delete" name="delete"></td>
		</form>
		<form id="form1" action="{{ url_for('games_page') }}" method="post">
				<label for="inputName" class="sr-only">Name</label>
	        	<td><input type="text" id="inputName" name="name" class="myinput" placeholder="Name of the game" required autofocus></td>

				<label for="inputDeveloper" class="sr-only">Developer</label>
				<td><input type="text" id="inputDeveloper" name="developer" class="myinput" placeholder="Developer of the game" required/></td>

				<label for="inputPublisher" class="sr-only">Publisher</label>
				<td><input type="text" id="inputPublisher" name="publisher" class="myinput" placeholder="Publisher of the game" required/></td>

				<td><input type="text" id="inputYear" name="year" class="myinput" placeholder="Release year"/></td>
				<td><input type="submit" class="form-control" value="Update" name="update"></td>
			</tr>
			</table>
	<input type="submit" class="form-control" value="Add" name="insert">
	</div>

		<div class="error">
		{{rec_Message}}
		</div>
		</form>

	<h2>Find Games</h2>
	<form id="form3" action="{{ url_for('games_page') }}" method="post">
		<div class="search">
		<select class="myinput" name="filter_by">
		   	<option value="name"> Search by Name </option>
		   	<option value="developer"> Search by Developer </option>
		   	<option value="publisher"> Search by Publisher </option>
		   	<option value="year"> Search by Release Year </option>
	   	</select>
	   	<label for="text" class="sr-only">Search</label>
		<input type="text" id="inputUsername" name="text" class="myinput" placeholder="Search">
		<input type="submit" class="myinput" value="search" name="search">
		</div>
	</form>
    <div class="CSSTableGenerator">
    <table>
      <tr>
        <td>Name</td>
		<td>Developer</td>
		<td>Publisher</td>
		<td>Release year</td>
      </tr>
      {% for key, game in searchGames %}
      <tr>
        <td> {{ game.name }} </td>
				<td> {{ game.developer }} </td>
				<td> {{ game.publisher }} </td>
				<td> {{ game.year }} </td>
      </tr>
      {% endfor %}

    </table>
    </div>

{% endblock %}