<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='games.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Olympic Medals in Archery{% endblock %}

{%block content%}
<body>

<h1>Olympic Medals in Archery</h1>
<br>
<h4>This is the table of olympic medals in archery.</h4>
<h4>You can add a medal with related details here.</h4>
  <div class="CSSTableGenerator">
	<table>
		<tr>
			<td></td>
			<td>Name</td>
			<td>Nationality</td>
			<td>Game Type</td>
			<td>Medal Type</td>
			<td>Year</td>
			<td></td>
		</tr>
		<form action="{{ url_for('medals_page') }}" method="post">
        {% for key, medal in medals %}
			<tr>
				<td><input type="checkbox" name="medals_to_delete" value="{{medal.id}}" /></td>
				<td> {{ medal.name }} </td>
				<td> {{ allCountries[(medal.country_id)-1][2] }} </td>
				<td> {{ allGameTypes[(medal.gameType_id)-1][2] }} </td>
				<td> {{ allMedalTypes[(medal.medalType_id)-1][2] }} </td>
				<td> {{ medal.year }} </td>
				<td><input type="radio" name="medal_to_update" value="{{medal.id}}" form="form1"/></td>
			</tr>
		{% endfor %}
			<tr>
				<td><input type="submit" class="form-control" value="Delete" name="delete"></td>
		</form>
		<form id="form1" action="{{ url_for('medals_page') }}" method="post">
				<label for="inputName" class="sr-only">Name</label>
	        	<td><input type="text" id="inputName" name="name" class="myinput" placeholder="Name of the medalist or team" required autofocus></td>

				<td><select class="form-control" name="country_id" required>
     		    <option></option>
     		    {% for key, name, country_code in allCountries %}
     		    <option value="{{allCountries[key-1][0]}}">{{allCountries[key-1][2]}}</option>
      		 	{% endfor %}
       			</select></td>

				<td><select class="form-control" name="gameType_id" required>
     		    <option></option>
     		    {% for key, name, game_code in allGameTypes %}
     		    <option value="{{allGameTypes[key-1][0]}}">{{allGameTypes[key-1][2]}}</option>
      		 	{% endfor %}
       			</select></td>

       			<td><select class="form-control" name="medalType_id" required>
     		    <option></option>
     		    {% for key, name, medal_code in allMedalTypes %}
     		    <option value="{{allMedalTypes[key-1][0]}}">{{allMedalTypes[key-1][2]}}</option>
      		 	{% endfor %}
       			</select></td>
				<td><input type="text" id="inputYear" name="year" class="myinput" placeholder="Year of the medal"/></td>
				<td><input type="submit" class="form-control" value="Update" name="update"></td>
			</tr>
			</table>
	<input type="submit" class="form-control" value="Add" name="insert">
	</div>

	<div class="error" style="background-color: #000000; color: #ff0000">
	{{rec_Message}}
	</div>
	</form>

	<img id="image1" src="http://4.bp.blogspot.com/-h4rkZUPNmvk/T9oFuvaRWaI/AAAAAAAAK60/jH0JYfENoHU/s1600/Contortionist-Archery.jpg" onclick="imageURL()" />
		<script>
		function imageURL(){
				var image = document.getElementById("image1")
				image.src="https://upload.wikimedia.org/wikipedia/en/d/db/Back_to_the_Future_(time_travel_test)_with_Michael_J._Fox_as_Marty_McFly.jpg";
		}
		</script>

<br>
	<h2>Find all medals of a person or a team</h2>
	<br>

	<form id="form3" action="{{ url_for('medals_page') }}" method="post">
		<div class="search">
		<select class="myinput" name="filter_by">
		   	<option value="name"> Search by name of the medalist or team </option>
	   	</select>
	   	<label for="text" class="sr-only">Search</label>
		<input type="text" id="inputUsername" name="text" class="myinput" placeholder="enter the value to search">
		<br>
		<input type="submit" class="myinput" value="SEARCH IT PLEASE" name="search">
		<br>
		<h4>Here are the results:</h4>
		</div>
	</form>
    <div class="CSSTableGenerator">
    <table>
      <tr>
        <td>Name</td>
		<td>Nationality</td>
		<td>Game Type</td>
		<td>Medal Type</td>
		<td>Year</td>
      </tr>
      {% for key, medal in searchMedals %}
      <tr>
        <td> {{ medal.name }} </td>
		<td> {{ allCountries[(medal.country_id)-1][2] }} </td>
		<td> {{ allGameTypes[(medal.gameType_id)-1][2] }} </td>
		<td> {{ allMedalTypes[(medal.medalType_id)-1][2] }} </td>
		<td> {{ medal.year }} </td>
      </tr>
      {% endfor %}

    </table>
    </div>

{% endblock %}