<!DOCTYPE html>
<html>
  <head>
  <link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Mounted Sportsmen{% endblock %}


{%block content%}
<body>
    <h1>Mounted Archery</h1>
    <h2>Players</h2>

  <div class="CSSTableGenerator">
  <table>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Surname</td>
      <td>Age</td>
      <td>Country</td>
      <td></td>
    </tr>

    <form id="form2" action="{{ url_for('mounted_page') }}" method="post">
        {% for key, mountedArcher in mountedArchers %}
      <tr>
        <td><input type="checkbox" name="mounted_archers_to_delete" value="{{mountedArcher.id}}" /></td>
        <td> {{ mountedArcher.name }} </td>
        <td> {{ mountedArcher.surname }} </td>
        <td> {{ current_year-mountedArcher.birth_year }} </td>
        <td> {{ allCountries[(mountedArcher.country_id)-1][2] }} </td>
        <td><input type="radio" name="mounted_archer_to_update" value="{{mountedArcher.id}}" form="form1"/></td>
      </tr>
    {% endfor %}
      <tr>
        <td><input type="submit" class="form-control" value="Delete" name="action"></td>
    </form>
    <form id="form1" action="{{ url_for('mounted_page') }}" method="post">

        <td><input type="text" id="inputUsername" class="myinput" name="name"  placeholder="Name" required autofocus></td>

        <td><input type="text" id="inputSurname" class="myinput" name="surname" placeholder="Surname" required/></td>

        <td><input type="number" id="age" class="myinput" name="age" min="18" max="100"  placeholder="Age" required/></td>

        <td>
	        <select class="form-control" name="country_id" required>
		        <option></option>
		        {% for key, name, country_code in allCountries %}
		        <option value="{{allCountries[key-1][0]}}">{{allCountries[key-1][2]}}</option>
		        {% endfor %}
	        </select>
        </td>
        <td><input type="submit" class="form-control" value="Update" name="action"></td>
      </tr>
      </table>
      <input type="submit" class="form-control" value="Add" name="action">
    </div>

    <div class="error">
    {{rec_Message}}
    </div>
    </form>


	<h2>Find Sportsman</h2>
	<form id="form3" action="{{ url_for('mounted_page') }}" method="post">
		<div class="search">
		<select class="myinput" name="filter_by">
		   	<option value="name"> Search by Name </option>
		   	<option value="surname"> Search by Surname </option>
		   	<option value="birth_year"> Search by Age </option>
	   	</select>
	   	<label for="text" class="sr-only">Search</label>
		<input type="text" id="inputUsername" name="text" class="myinput" placeholder="Search">
		<input type="submit" class="myinput" value="search" name="search">
		</div>
	</form>
    <div class="CSSTableGenerator">
    <table>
      <tr>
        <td>Name</td>
        <td>Surname</td>
        <td>Age</td>
        <td>Country</td>
      </tr>
      {% for key, mountedArcher in searchMountedArchers %}
      <tr>
        <td> {{ mountedArcher.name }} </td>
        <td> {{ mountedArcher.surname }} </td>
        <td> {{ current_year-mountedArcher.birth_year }} </td>
        <td> {{ allCountries[(mountedArcher.country_id)-1][2] }} </td>
      </tr>
      {% endfor %}

    </table>
    </div>


{% endblock %}



