<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8" />
{%extends "base.html"%}
{%block title%}Profile{% endblock %}

{%block content%}
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
	<body>
	<p>
		Hello, {{ a_username }}! </br>

		You can update your password and email information below:
		<form action="{{ url_for('my_profile_page') }}" method="post">
			<div class="profile">

	        <label for="inputEmail" class="sr-only">Email address</label>
	        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="New Email Address" >

			<label for="newPassword" class="sr-only">New Password</label>
	        <input type="password" id="newinputPassword" name="newPassword" class="form-control" placeholder="New Password">

	        <label for="inputPassword" class="sr-only">Current Password</label>
	        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Current Password" required>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
			</div>
		</form>
		<div class="error">{{Message}}</div>
	</p>
    </body>
</html>
{% endblock %}