<!DOCTYPE html>
<html>
  <head>
	<link href="{{ url_for('static', filename='tablestyle.css') }}" rel="stylesheet">

{%extends "base.html"%}

{%block title%}Scores{% endblock %}

{% block link %}
<link href="{{ url_for('static', filename='scores.css') }}" rel="stylesheet">
{% endblock %}

{%block content%}
<body>
    <h2>Recurve Archery Scores Table</h2>
    <p>This table shows scores of the recurve sportsmen for the corresponsing tournament. Be careful, both sportman and tournament should be in our database to add a score to table.</p>

	<div class="CSSTableGenerator">
	<table>
		<tr>
			<td></td>
			<td>ArcherId</td>
			<td>TournamentId</td>
			<td>Score</td>
			<td></td>
		</tr>
		<form id="form2" action="{{ url_for('scores_page') }}" method="post">
        {% for key, score in scores %}
			<tr>
				<td><input type="checkbox" name="scores_to_delete" value="{{score.id}}" /></td>
				<td>{{ score.archerId }}</td>
				<td>{{ score.tournamentId }}</td>
				<td>{{ score.score }}</td>
				<td><input type="radio" name="score_to_update" value="{{score.id}}" form="form1"/></td>
			</tr>
		{% endfor %}
			<tr>
				<td><input type="submit" class="form-control" value="Delete" name="action"></td>
		</form>
		<form id="form1" action="{{ url_for('scores_page') }}" method="post">

				<td>
					<input type="number" name="archer_id" class="myinput" required autofocus min="1" placeholder="Enter Archer ID" />
				</td>
				<td>
					<input type="number" name="tournament_id" class="myinput" required min="1" placeholder="Enter Tournemant ID" />
				</td>
				<td>
					<input type="number" name="score" class="myinput" required min="1" placeholder="Enter Score" />
				</td>
				<td><input type="submit" class="form-control" value="Update" name="action"></td>

			</tr>
			</table>
	</div>
		<input type="submit" class="form-control" value="Add" name="action">
		<div class="error">
		{{rec_Message}}
		</div>
		</form>

</body>
{%endblock%}
